{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Alert

    Classes required for JS:
    * laixmo_content

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * content
    * details_uri
    * privacy_uri
    * runjs
    * instance
    * module
    * course
    * user
}}
<div class="laixmo_content" style="width: 100%; height: 100%">
    {{content}}
</div>
{{#details}}
<div class="footer" style="margin-top: 20px">
    <a href="{{details}}" class="card-link">{{# str}}details, block_laixmo{{/str}}</a>
</div>
{{/details}}