<div class="laixmo-filter-date form-group">
    <label for="laixmo-filter-{{key}}" style="margin-left: 5px">{{# str}}from{{/str}}</label>
    <input
            name="{{key}}[from]"
            data-date="from"
            id="laixmo-filter-{{key}}-from"
            class="form-control mb-2 mr-sm-2 mb-sm-0"
            type="date"
            min="{{min}}"
            max="{{max}}"
    >

    <label for="laixmo-filter-{{key}}" style="margin-left: 5px">{{# str}}to{{/str}}</label>
    <input
            name="{{key}}[to]"
            data-date="to"
            id="laixmo-filter-{{key}}-to"
            class="form-control mb-2 mr-sm-2 mb-sm-0"
            type="date"
            min="{{min}}"
            max="{{max}}"
    >
</div>