<label for="laixmo-filter-{{key}}" class="sr-only">{{key}}</label>
<input
        name="{{key}}"
        id="laixmo-filter-{{key}}"
        title="{{key}}"
        placeholder="{{key}}"
        class="form-control mb-2 mr-sm-2 mb-sm-0"
        type="number"
        min="{{min}}"
    {{#max}}
        max="{{max}}"
    {{/max}}
    {{#step}}
        step="{{step}}"
    {{/step}}
>
