<div id="laixmo-filter-box" class="" style="padding: 5px; margin-bottom: 15px">
    <form class="form-inline">
        {{{filter}}}
        <button class="form-control btn btn-primary" type="submit">{{#str}}filter, block_laixmo{{/str}}</button>
        <button class="corm-control btn" type="reset">{{#str}}reset, block_laixmo{{/str}}</button>
    </form>
    <div id="laixmo-filter-feedback" class="hidden"></div>
</div>