<label class="sr-only" for="laixmo-filter-{{key}}">{{key}}</label>
<select id="laixmo-filter-{{key}}" name="{{key}}" class="form-control">
    <option value="" selected>{{key}}</option>
    {{#options}}
        <option value="{{key}}">{{value}}</option>
    {{/options}}
</select>