{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="laixmo-module-selection" style="margin-bottom: 30px">
    <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="laixmo-modules">
        {{#options}}
            <option value="{{key}}" {{selected}}> {{module}} / {{name}}</option>
        {{/options}}
    </select>
</div>

{{# js}}
    {{! The following script tag enables Syntax in IDE but will be commeted out while execution }}
    // <script>
    (function () {
        require(['jquery', 'core/url'], function($, url) {
            var sel =  $('div.laixmo-module-selection select');

            sel.on('change', function (e) {
                var params = JSON.parse(atob(sel.val()));
                var u = url.relativeUrl('/blocks/laixmo/index.php/course/{{course}}/' + params.module + '/' + params.output);
                window.location = u;
            });
        });
    })();
{{/js}}