{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="laixmo-module-selection">
    <form class="form-inline" id="selection-form">
        <select class="form-control mb-2 mr-sm-2 mb-sm-0" id="laixmo-modules" name="output">
            {{#outputs}}
                <option value="{{key}}" data-global="{{global}}" {{selected}}>{{name}}</option>
            {{/outputs}}
        </select>
        <input type="submit" class="btn btn-primary" value="{{# str}}show, block_laixmo{{/str}}">
    </form>
</div>

{{# js}}
{{! The following script tag enables Syntax in IDE but will be commeted out while execution }}
    // <script>
        (function () {
            require(['jquery', 'core/url'], function ($, url) {
                var form = $('#selection-form');
                var mods = $('#laixmo-modules');

                form.on('submit', function (e) {
                    e.preventDefault();

                    var fparams = form.serializeArray();
                    var params = JSON.parse(atob(fparams[0].value));

                    window.location = url.relativeUrl('/blocks/laixmo/index.php/statistics/' + params.module + '/' + params.output);
                });
            });
        })();
{{/js}}