{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Privacy Page template

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * checked
    * text
}}
<form method="post" action="{{action}}">
    <fieldset class="form-group">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" name="consent" {{checked}}>
            {{text}}
        </label>
    </fieldset>

    <input type="submit" class="btn btn-primary" value="{{# str}}submit, block_laixmo{{/str}}">
</form>