<table class="table table-striped table-hover">
    <thead>
    <tr>
        {{#head}}
            <th>{{.}}</th>
        {{/head}}
    </tr>
    </thead>
    <tbody>
        {{#rows}}
            <tr>
                {{#.}}
                    <td>
                    {{.}}
                    </td>
                {{/.}}
            </tr>
        {{/rows}}
    </tbody>
</table>